/* Global Styles */
body {
    font-size: 1rem;
    line-height: 1.6;
    background-color: #757682;
    color: #333;
    }
    
    .container {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0 1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    }
    
    .container2 {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
    
    /* Utilities */
    .m-1 {
    margin: 0.5rem;
    }
    .my-1 {
    margin: 0.5rem 0;
    }
    
    .btn {
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    }
    
    /* Text Styles*/
    .x-large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    }
    
    .large {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    }
    
    .lead {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    }
    
    .post-text {
    text-align: left;
    }
    
    .text-primary {
    color: var(--primary-color);
    }
    
    .text-dark {
    color: var(--dark-color);
    }
    
    /* Padding */
    .p {
    padding: 0.5rem;
    }
    .p-1 {
    padding: 1rem;
    }
    .p-2 {
    padding: 1rem;
    }
    .p-3 {
    padding: 2rem;
    }
    .py {
    padding: 0.5rem 0;
    }
    .py-1 {
    padding: 1rem 0;
    }
    .py-2 {
    padding: 1rem 0;
    }
    .py-3 {
    padding: 2rem 0;
    }
    
    /* Margin */
    .m {
    margin: 0.5rem;
    }
    .m-1 {
    margin: 0.5rem;
    }
    .m-2 {
    margin: 1rem;
    }
    .m-3 {
    margin: 2rem;
    }
    .my {
    margin: 0.5rem 0;
    }
    .my-1 {
    margin: 0.5rem 0;
    }
    .my-2 {
    margin: 1rem 0;
    }
    .my-3 {
    margin: 2rem 0;
    }
    
    .btn-primary,
    .bg-primary,
    .badge-primary,
    .alert-primary {
    background: var(--primary-color);
    color: #fff;
    }
    
    .btn-light,
    .bg-light,
    .badge-light,
    .alert-light {
    background: var(--light-color);
    color: #333;
    }